/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Estilos específicos para diferentes secciones */
.imageshead img,
.title_prin img {
    width: 100%;
    height: auto;
}
.title_prin h1 {
    font-size: 4vw;
    text-align: center;
    padding: 20px 0;
}
.img_prin {
    text-align: center;
    margin-bottom: 20px;
}
.img_prin img {
    max-width: 100%;
    height: auto;
}
.contexto,
.littlebio {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.contexto img,
.littlebio img {
    float: left;
    margin-right: 20px;
}
.contexto p,
.littlebio p {
    text-align: justify;
    margin-bottom: 0px;
}
.contexto .seccion,
.littlebio .seccion2 {
    overflow: hidden; /* Clearfix para evitar problemas de flotación */
}
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.footer h4 {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10px; /* Añadido para ajustar el espacio entre el texto y el borde del footer */
}
/* Media Queries */
@media screen and (max-width: 1200px) {
    .title_prin h1 {
        font-size: 40px;
    }
    .contexto img,
    .littlebio img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 800px) {
    .imageshead img,
    .title_prin img {
        height: auto;
    }
    .title_prin h1 {
        font-size: 30px;
    }
    .contexto img,
    .littlebio img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer h4 {
        font-size: 16px;
    }
}
